[submodule "lib/Adafruit_BME680"]
	path = lib/Adafruit_BME680
	url = https://github.com/adafruit/Adafruit_BME680
[submodule "lib/Adafruit_BNO055"]
	path = lib/Adafruit_BNO055
	url = https://github.com/adafruit/Adafruit_BNO055/
[submodule "lib/Adafruit_GPS"]
	path = lib/Adafruit_GPS
	url = https://github.com/adafruit/Adafruit_GPS/
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "lib/SD"]
	path = lib/SD
	url = https://github.com/arduino-libraries/SD
[submodule "lib/Wire"]
	path = lib/Wire
	url = https://github.com/PaulStoffregen/Wire
[submodule "lib/SPI"]
	path = lib/SPI
	url = https://github.com/PaulStoffregen/SPI
[submodule "lib/RadioHead"]
	path = lib/RadioHead
	url = https://github.com/PaulStoffregen/RadioHead
